n8n-gnoc-community-error-notification-telegram-.json
{
  "updatedAt": "2025-11-07T14:58:47.072Z",
  "createdAt": "2024-10-21T11:38:25.367Z",
  "id": "KG3wK34JqO8YiJsO",
  "name": "Gnoc - Community Error Notification (Telegram)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "239662ae-36f4-49ca-8f74-0ffaad8418d4",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        672,
        432
      ]
    },
    {
      "parameters": {
        "chatId": "-4640112747",
        "text": "={{ $json[\"workflow\"][\"name\"] }}\n\n{{ $json[\"execution\"][\"error\"][\"message\"] }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8c5a01c7-fe5a-4277-b626-d3c9c88836df",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1104,
        432
      ],
      "retryOnFail": true,
      "webhookId": "1ae95e0c-f801-40c8-9796-59dc43e5309c",
      "credentials": {
        "telegramApi": {
          "id": "0s3XJEX7B5UOE7rp",
          "name": "Telegram @generalnotibot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "144f4c3b-0e8b-4d42-8b87-cfbeafc867e6",
              "leftValue": "={{ $json.execution.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "574b65fe-2517-46f2-8a96-3966bf993751",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        880,
        432
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Ho_Chi_Minh",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a49d6873-c9f6-43b8-a3be-18aeb34eb389",
  "activeVersionId": "a49d6873-c9f6-43b8-a3be-18aeb34eb389",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-10-21T11:38:25.367Z",
      "createdAt": "2024-10-21T11:38:25.367Z",
      "role": "workflow:owner",
      "workflowId": "KG3wK34JqO8YiJsO",
      "projectId": "0P6Dr8EAKcX0vQwh"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-26T08:31:17.177Z",
    "createdAt": "2026-02-26T08:31:17.177Z",
    "versionId": "a49d6873-c9f6-43b8-a3be-18aeb34eb389",
    "workflowId": "KG3wK34JqO8YiJsO",
    "nodes": [
      {
        "parameters": {},
        "id": "239662ae-36f4-49ca-8f74-0ffaad8418d4",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          672,
          432
        ]
      },
      {
        "parameters": {
          "chatId": "-4640112747",
          "text": "={{ $json[\"workflow\"][\"name\"] }}\n\n{{ $json[\"execution\"][\"error\"][\"message\"] }}\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "8c5a01c7-fe5a-4277-b626-d3c9c88836df",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.1,
        "position": [
          1104,
          432
        ],
        "retryOnFail": true,
        "webhookId": "1ae95e0c-f801-40c8-9796-59dc43e5309c",
        "credentials": {
          "telegramApi": {
            "id": "0s3XJEX7B5UOE7rp",
            "name": "Telegram @generalnotibot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "144f4c3b-0e8b-4d42-8b87-cfbeafc867e6",
                "leftValue": "={{ $json.execution.error }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "574b65fe-2517-46f2-8a96-3966bf993751",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          880,
          432
        ]
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}