n8n-aipowered-automated-stock-analysis-.json
{
  "updatedAt": "2024-04-19T06:44:26.362Z",
  "createdAt": "2024-04-19T06:44:26.362Z",
  "id": "JrCr864CpgOpYNpN",
  "name": "AI-powered automated stock analysis",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Senior Research Analyst Plans work 💭\n\n**Plan the work for the team**\n",
        "height": 554.958136944418,
        "width": 319.697690939268,
        "color": 7
      },
      "id": "752b6d3c-3b56-40ff-919c-c891099bfbe7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "5defb0a2-d921-4909-b10d-da59e1768496",
              "name": "sections",
              "type": "number",
              "value": "=5"
            },
            {
              "id": "230ebd0b-73c2-4265-9b3c-57af7fbc48c8",
              "name": "words",
              "type": "number",
              "value": "=1000"
            },
            {
              "id": "ce289c1f-c20d-4ae5-9192-52f129b704e6",
              "name": "company",
              "type": "string",
              "value": "itron"
            },
            {
              "id": "bd4c5470-b798-4f7e-8139-a13864742412",
              "name": "webhook_url_sec10k_data",
              "type": "string",
              "value": "<insert the webhook for the stock q&a template here>"
            }
          ]
        },
        "includeOtherFields": true
      },
      "id": "4e68e40c-961d-4ba6-916f-ce31ce674362",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        440
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Settings ✨\n\n**Start here to configure settings for this workflow**\n\n1. The company to research\n2. The level detail of the report by specifying the number of words and sections",
        "height": 555.9314234313579,
        "width": 371.64121982039524,
        "color": 7
      },
      "id": "43b16e72-b4df-44f7-a28e-df8f52d8b276",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Delegates work 🧑‍🤝‍🧑\n\n**Delegate work to team of Researchers**",
        "height": 552.8695283216254,
        "width": 326.47038972308576,
        "color": 7
      },
      "id": "f0b89837-1122-4cd9-9778-e87b4ae61754",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        239.77789757412438
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Researchers at work 🗠\n\n**Researchers collaborating based on Senior Researcher plan**\n",
        "height": 556.1383800736475,
        "width": 333.40108076977657,
        "color": 7
      },
      "id": "4e9c44f2-19b2-421b-84f9-89e7c675b0dd",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        238.42975741239854
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Senior Editor ✍️\n\n**Make writing story of the report high quality**\n",
        "height": 555.3391014753818,
        "width": 666.4253447940705,
        "color": 7
      },
      "id": "ec2f719a-9a1b-4680-a11d-0a79bb0f12c6",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        237.35124528301833
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "3d12f3ba-fbf3-432c-b3b8-690b9108afbc",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        980,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a3068dd6-5cb3-43b4-84ef-9d6a0cd7bd55",
      "name": "Wikipedia1",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1700,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0abb20f8-43f8-4bcc-a0d7-cde7701e7995",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        200,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "sec10_k_nvda",
        "description": "=Use this tool to answer fundamental questions about {{ $json.company }} from SEC 10-K. The input to this tool should be the question to be asked about {{ $json.company }}. For example, what does {{ $json.company }}  do to earn money?",
        "jsCode": "options = {\n\turl: $('Settings').item.json.webhook_url_sec10k_data,\n    method: 'POST',\n    body: {\"input\": query, \"company\": $('Settings').item.json.company}\n}\n      \ntry {\n  const response = await this.helpers.httpRequest(options);\n  console.log(response)\n  return response\n  } catch (error) {\n    return \"error\";\n}"
      },
      "id": "824bb7a7-e37e-4bac-a61c-941c0e28f405",
      "name": "SEC10 Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        840,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.sections",
        "options": {}
      },
      "id": "ae742ebe-9525-4662-83fe-7f5e74d02383",
      "name": "Delegate work",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1240,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "46f8429b-f8d9-497f-818f-61101a497f66",
      "name": "Combine all sections from researchers",
      "type": "n8n-nodes-base.merge",
      "position": [
        1920,
        440
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Plan work for team').first().json.message.content.introduction;\narticle += \"\\n\\n\";\n\nfor (const item of $input.all()) {\n  article += \"**\" + item.json.title + \"**\";\n  article += \"\\n\";\n  article += item.json.message.content;\n  article += \"\\n\\n\";\n}\n\n// Conclusions\narticle += \"**Conclusions**\";\narticle += \"\\n\\n\";\narticle += $('Plan work for team').first().json.message.content.conclusions;\n\n\nreturn [\n  {\n    \"article\": article\n  }\n];"
      },
      "id": "c12fc735-7ba1-4f50-8cc2-00547f16925f",
      "name": "Draft report",
      "type": "n8n-nodes-base.code",
      "position": [
        2100,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish\n\n**Publish to Google docs.  Update the report name.**",
        "height": 557.9049487870623,
        "width": 446,
        "color": 7
      },
      "id": "ab907e6b-ed3e-4445-924b-96bb0f00d465",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        234.11570889487825
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "folderId": "18AtvqLWzYtBTshded10IvB3CWq1gaU-Q",
        "title": "=itron"
      },
      "id": "2493a9a6-56ea-4f41-9600-d9e475da1106",
      "name": "Create new Google docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2660,
        440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Draft report').item.json.article }}"
            }
          ]
        }
      },
      "id": "fe20ea2e-67d5-49f8-b264-ccdfc9202c43",
      "name": "Update document with report",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2840,
        440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "sec10_k_nvda",
        "description": "=Use this tool to answer fundamental questions about {{ $('Settings').item.json.company }}\n from SEC 10-K. The input to this tool should be the question to be asked about {{ $('Settings').item.json.company }}. For example, what does {{ $('Settings').item.json.company }}  do to earn money?",
        "jsCode": "options = {\n\turl: $('Settings').item.json.webhook_url_sec10k_data,\n    method: 'POST',\n    body: {\"input\": query, \"company\": $('Settings').item.json.company}\n}\n      \ntry {\n  const response = await this.helpers.httpRequest(options);\n  console.log(response)\n  return response\n  } catch (error) {\n    return \"error\";\n}"
      },
      "id": "eee7c40a-5e89-435e-b108-2679afea4bd6",
      "name": "SEC10 Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        1540,
        680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "options": {
          "maxTokens": 4095
        },
        "messages": {
          "values": [
            {
              "content": "=You are a details-oriented senior editor known for your insightful and engaging articles.\n\nYour task is to paraphrase the draft report produced by the Research team.  This report is targeted towards the investor community  Please ensure that the report is written in a professional tone and style. Do not leave any important information out from the research team. \n\nHere is the draft report:\n{{ $json.article }} \n"
            }
          ]
        }
      },
      "id": "20579888-81c9-4c8f-8d97-c9845bb727fe",
      "name": "Polish report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2260,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4-turbo-preview",
          "cachedResultName": "GPT-4-TURBO-PREVIEW"
        },
        "options": {
          "maxTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "=You work as a Senior Research Analyst at Goldman Sachs, focusing on fundamental research for tech companies.  You have a team of Research analysts that will help you with various aspects of fundamental stock research.  \n\nYour task is to break down the work of this analysis report:\n- Write the title\n- The subtitle\n- The section details\n- The introduction\n- The conclusions\n- an image prompt for a SEO-friendly article about the company {{ $json.company }}.  \n\nThis analysis report will be a comprehensive analysis of {{ $json.company }} using the latest SEC 10-K filing. The analysis should include the following key sections : Business Overview, Company Strategy, SWOT (Strength, Weakness, Opportunities, Threats), Top 3 Risk Factors, Management's Discussion and Analysis (MD&A), Near term catalysts for growth, and Future Outlook\n\nDetailed Instructions:\n- All information is sourced from {{ $json.company }} latest SEC 10-K filing and that the analysis is unbiased and factual.\n- When necessary, use wikipedia to help with the analysis\n- Place the article title in a JSON field called `title`\n- Place the subtitle in a JSON field called `subtitle`\n- Place the introduction in a JSON field called `introduction`\n- In the introduction introduce the topic that is then explored in depth in the rest of the text\n- The introduction should be around 60 words\n- Place the conclusions in a JSON field called `conclusions`\n- The conclusions should be around 60 words\n- Use the conclusions to sum all said in the article and offer a conclusion to the reader\n- The image prompt will be used to produce a photographic cover image for the article and should depict the topics discussed in the article\n- Place the image prompt in a JSON field called `imagePrompt`\n- There should be {{ $json.words.toString() }} sections.\n- For each section provide a title and an exaustive prompt that your team mates of Researchers can follow that will be used to write the section text.\n- Place the sections in an array field called `sections`\n- For each section provide the fields `title` and `prompt`\n- The section should follow a logical flow and not repeat the same concepts.\n- The section should be one related to the other and not isolated blocks of text. The text should be fluent and folow a linear logic.\n- Don't start the section with \"section 1\", \"section 2\", \"section 3\"... just write the title of the section\n- For the title and the section's titles don't use colons (`:`)\n- For the text, use markdown language for formatting\n- Use the SEC 10K tool for {{ $json.company }} to get information about the company\n- Go deep in the topic you treat, don't just throw some superficial info"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "84cd6bda-19cc-4f0e-8ff3-a0a84c3b47e4",
      "name": "Plan work for team",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        800,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "options": {
          "maxTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "=You are a research analyst in the finance industry who works with a senior research analyst to produce an insight report \n\nYour task it to write a section for the report analyzing  {{ $('Settings').item.json.company }}.  Here is the context for the report that the senior research analyst created:\nOverall report title: {{ $('Plan work for team').item.json.message.content.title }}\nOverall report subtitle:  {{ $('Plan work for team').item.json.message.content.subtitle  }}\n\nUse the prompt the Senior research analyst created and write a section titled {{ $json.title }} using this prompt as starting point : {{ $json.prompt }}.\n\nGuidelines:\n- All information is sourced from {{ $('Settings').item.json.company }} latest SEC 10-K filing and that the analysis is unbiased and factual.\n- Just return the plain text for each section (no JSON structure).\n- Use markdown for formatting.\n- Don't add internal titles or headings.\n- The length of each section should be around {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.sections) }} words long\n- Go deep in the topic you treat, don't just throw some superficial info\n{{ $itemIndex > 0 ? \"- The previous section talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The prompt for the previous section is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The following section will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The prompt for the following section is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following section what writing the text for this section. The text must be coherent with the previous and following sections.\n- This section should not repeat the concepts already exposed in the previous section.\n- This section is a part of a larger report so don't include an introduction or conclusions. This section should merge with the rest of the report.\n"
            }
          ]
        }
      },
      "id": "d7527f28-39fd-4710-8f41-87c825927a1f",
      "name": "Do detailed research",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1520,
        440
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Settings": {
      "main": [
        [
          {
            "node": "Plan work for team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft report": {
      "main": [
        [
          {
            "node": "Polish report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delegate work": {
      "main": [
        [
          {
            "node": "Combine all sections from researchers",
            "type": "main",
            "index": 1
          },
          {
            "node": "Do detailed research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polish report": {
      "main": [
        [
          {
            "node": "Create new Google docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan work for team": {
      "main": [
        [
          {
            "node": "Delegate work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do detailed research": {
      "main": [
        [
          {
            "node": "Combine all sections from researchers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new Google docs": {
      "main": [
        [
          {
            "node": "Update document with report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine all sections from researchers": {
      "main": [
        [
          {
            "node": "Draft report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "2209"
  },
  "pinData": {},
  "versionId": "b95d920b-ec2e-41f0-9a9d-aab2433c5ee2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-04-19T06:44:26.362Z",
      "createdAt": "2024-04-19T06:44:26.362Z",
      "role": "workflow:owner",
      "workflowId": "JrCr864CpgOpYNpN",
      "projectId": "0P6Dr8EAKcX0vQwh"
    }
  ],
  "activeVersion": null,
  "tags": []
}