n8n-az-lark-work-items-sync-25fit-replace-images-bak-.json
{
  "updatedAt": "2024-01-10T17:05:30.062Z",
  "createdAt": "2024-01-10T17:05:21.659Z",
  "id": "foWmVxJnS3ffkKJt",
  "name": "Az Lark - Work Items Sync - 25Fit Replace Images bak",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"app_id\" : \"cli_a466e82acaf8d010\", \"app_secret\" : \"f7aFFUOj1okYt5EtypATvhWxpLJ0HNSp\"  }",
        "options": {}
      },
      "id": "20de22a2-8e2e-4cb7-acb7-1439776e15b7",
      "name": "Lark. Get Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2300,
        1220
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "8abdffdf-b90d-4f41-a4de-6192840f70d6",
      "name": "5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2760,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"TeamProject\": \"25FIT\",\n  \"StatusRecordId_25Fit\": \"recB23Vxmz\"\n}"
      },
      "id": "986c6577-c325-4518-8448-422921c783f9",
      "name": "env",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2540,
        1220
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "\nreturn $node[\"Lark. Get All Records\"].json[\"data\"][\"items\"];"
      },
      "id": "b3b1fda2-c7c8-43c1-99a6-05b19abf9462",
      "name": "New Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1820,
        1220
      ]
    },
    {
      "parameters": {
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/Hsu9b4sqiaTQmVsdxaUlO3SUgVt/tables/tblUVxnumbX8vlu7/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "CurrentValue.[WorkItemJson].contains(\"/attachments/\")"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Lark. Get Access Token').item.json.app_access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8065ee77-d3d9-401e-b784-b9b18f446d69",
      "name": "Lark. Get All Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2080,
        1220
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e0617db7-df37-471b-8de7-59834e554bbc",
      "name": "Az: Max 1 work Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -1500,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "var workItemJson = $node[\"Az: Max 1 work Items\"].json[\"fields\"][\"WorkItemJson\"];\n//return {  workItemJson: workItemJson };\n\nconst urlRegex = /\\b((https?|ftp|file):\\/\\/|(www|ftp)\\.)[-A-Z0-9+&@#\\/%?=~_|$!:,.;]*[A-Z0-9+&@#\\/%=~_|$]/ig;\n\n// Extract URLs\nvar urls = workItemJson.match(urlRegex);\n\nvar attachments = [];\n// Get Attachment URLs\n//urls = urls.filter((url) => url.includes(\"attachments\"))\nfor (let index = 0; index < urls.length; index++) {\nif(urls[index].includes(\"/attachments/\"))\n{\n  attachments.push({\n    fileName: decodeURI(urls[index].substring(urls[index].indexOf(\"/attachments/\") + \"/attachments/\".length, urls[index].length).replace(\"?fileName=\", \" - \")),\n    url: urls[index]\n  })\n}\n}\n\nif(attachments != null && attachments.length > 0)\n  return attachments;\nelse return [];"
      },
      "id": "08b9491d-0514-401b-a31c-63ee03eb3c32",
      "name": "Get All Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1100,
        1180
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "62dc0ae4-2339-4d55-8a96-ca9306a33337",
      "name": "1 attachment",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -720,
        1760
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"Get All Attachments1\"].json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "be50c5eb-dacd-4160-8dd5-4f3804f9050d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -80,
        940
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "0NDVTGOvYtw961d3",
          "name": "25Fit AZ Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $node[\"Get All Attachments1\"].json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1mZx6qD4GucaPL1MxfrEBbbz0Qw3RLxnQ",
          "mode": "list",
          "cachedResultName": "25Fit",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mZx6qD4GucaPL1MxfrEBbbz0Qw3RLxnQ"
        },
        "options": {}
      },
      "id": "8ba1157b-8b84-47e7-9dee-90182e74c403",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        420,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wmx2bqC8j2AWZXvg",
          "name": "Google Drive - yoongazuredevops@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  record_id: $node[\"Az: Max 1 work Items\"].json.record_id,\n  originalUrl: $node[\"Get All Attachments1\"].json.url ,\n  driveUrl: $node[\"Google Drive\"].json[\"webViewLink\"]\n}"
      },
      "id": "02ba9a5d-c423-4424-91dd-cd1b142f932a",
      "name": "Uploaded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        940
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "c6d6843e-7533-4cab-ba63-078972191dea",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1260,
        940
      ],
      "webhookId": "9555d2dc-9c85-450e-b7e9-d662004b99b1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/Hsu9b4sqiaTQmVsdxaUlO3SUgVt/tables/tblUVxnumbX8vlu7/records/batch_update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Lark. Get Access Token'].json.app_access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.a }}",
        "options": {}
      },
      "id": "9f94a5c6-c98c-4af1-a235-9798ceb6b6fc",
      "name": "Update Lark Work Item Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "\nvar record_id = $node[\"Az: Max 1 work Items\"].json.record_id;\n\nvar larkInsertJson = {\n  \"records\": []\n};\n\n//return workItems[0];\n\nvar larkRecord = {\n\"record_id\": record_id,\n    \"fields\": {\n    \"AttachmentMappings\": $node[\"Replace\"].json.AttachmentMappings,\n    \"WorkItemReplacedAttachmentLinkJson\": $node[\"Replace\"].json.WorkItemReplacedAttachmentLinkJson,\n  }\n\n  };\n  \n  larkInsertJson.records.push(larkRecord);\n\nreturn {\n  a: larkInsertJson\n};"
      },
      "id": "5499cecb-e661-4920-815a-823b74b1b71e",
      "name": "Create Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "var doneBranchUrlMapping = $input.all();\n\ndoneBranchUrlMapping = doneBranchUrlMapping.map((item) => item.json);\n\n\nvar record_id = $node[\"Az: Max 1 work Items\"].json.record_id;\nvar workItemJson = $node[\"Az: Max 1 work Items\"].json[\"fields\"][\"WorkItemJson\"];\ndoneBranchUrlMapping = doneBranchUrlMapping.filter((item) => item.record_id == record_id);\n\nfor (let index = 0; index < doneBranchUrlMapping.length; index++) {\n  workItemJson = workItemJson.replace(doneBranchUrlMapping[index].originalUrl, doneBranchUrlMapping[index].driveUrl)\n}\n\nreturn {\n  \"WorkItemReplacedAttachmentLinkJson\": workItemJson,\n  \"AttachmentMappings\": JSON.stringify(doneBranchUrlMapping)\n}\n"
      },
      "id": "74a0ac3b-c9d3-40eb-b6ba-ec6df0790c7b",
      "name": "Replace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        1180
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "20ad0bfd-3ef2-4f1b-bf00-2e973686ffdc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        1240
      ],
      "webhookId": "f89c3ad7-a212-4851-adb7-74b9c5d87dda"
    },
    {
      "parameters": {
        "content": "OR((CurrentValue.[WorkItemReplacedAttachmentLinkJson] =\"\"),  (CurrentValue.[AttachmentMappings] =\"\"))\n\nOR((CurrentValue.[Id] =1399),  (CurrentValue.[Id] = 88))",
        "height": 585.2118644067796,
        "width": 963.8050847457628
      },
      "id": "d76999c5-b05a-43a5-b19a-3d2eff3a269d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2040,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.continue }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "id": "1508c338-bca7-48b4-8c30-945c21a04af7",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1220,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e835def-4c7e-4f92-b0c6-0aedca67b9bf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -860,
        740
      ]
    },
    {
      "parameters": {},
      "id": "78b20ea1-bd18-49bc-aa76-e582e2164c6f",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "1e778e57-eb24-4fee-af20-2adbba1692a3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6d775f9f-766f-4266-80b5-c77d1a3f27ca",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -380,
        740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f12b516-7375-47d5-80cc-8bf337e7634b",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -680,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "var item = $node[\"Loop Over Items1\"].json;\n\nreturn item;"
      },
      "id": "14b66390-26cf-4f1a-8605-fcbbabeb5505",
      "name": "Get All Attachments1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        960
      ]
    }
  ],
  "connections": {
    "Lark. Get Access Token": {
      "main": [
        [
          {
            "node": "Lark. Get All Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5min": {
      "main": [
        [
          {
            "node": "env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env": {
      "main": [
        [
          {
            "node": "Lark. Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Items": {
      "main": [
        [
          {
            "node": "Az: Max 1 work Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lark. Get All Records": {
      "main": [
        [
          {
            "node": "New Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Az: Max 1 work Items": {
      "main": [
        [
          {
            "node": "Get All Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Attachments": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploaded": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Json": {
      "main": [
        [
          {
            "node": "Update Lark Work Item Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lark Work Item Record": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace": {
      "main": [
        [
          {
            "node": "Create Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Az: Max 1 work Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Replace",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All Attachments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Attachments1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:5min": {
      "recurrencyRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "66b4692f-763c-4493-9d52-f77d6470ad1f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-01-10T17:05:21.659Z",
      "createdAt": "2024-01-10T17:05:21.659Z",
      "role": "workflow:owner",
      "workflowId": "foWmVxJnS3ffkKJt",
      "projectId": "0P6Dr8EAKcX0vQwh"
    }
  ],
  "activeVersion": null,
  "tags": []
}