n8n-maixpremium-open-position-alert-v3-test-.json
{
  "updatedAt": "2024-05-05T10:07:40.525Z",
  "createdAt": "2024-05-05T09:43:44.613Z",
  "id": "iPqolVIcmFLJRHqb",
  "name": "MaixPremium - Open Position Alert - v3 Test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "var signal_postion = $node[\"Aggregate\"].json[\"data\"];\nvar signal;\nvar position;\nvar insertQuery;\nvar telegramPushMessage;\n\n// Vì kết quả SQL trả về 2 bảng chung 1 lần, nên cần tách ra\nif(signal_postion)\n{\n   if(signal_postion.length == 2)\n   {\n     signal = signal_postion[0];\n     position = signal_postion[1];\n   }else if(signal_postion.length == 1)\n   {\n     if(signal_postion[0].SIGNAL)\n       signal = signal_postion[0];\n     else if (signal_postion[0].POSITION)\n       position = signal_postion[0];\n   }\n}\n\nif(position == null && signal) // Không tồn lại Position đang Open và có Signal\n{\ninsertQuery = \n`\nINSERT INTO [dbo].[TradeSignalLuxury] ( \n  [Direction], \n  [TradingPair], \n  [Leverage],\n  [EntryPrice], \n  [OpenedDate],\n  [Status],\n  [TradeSignalJson]\n)\nVALUES (\n  N'${signal['Direction']}', \n  N'${signal['TradingPair']}',\n   ${signal['Leverage']}, \n   ${signal['EntryPrice']},  \n   GETUTCDATE(),\n   0,\n   N'${signal[\"TraderName\"]}'\n)`\n  \n  // 2. Alert to Telegram\ntelegramPushMessage = \n`\n<b>#${signal['TradingPair']}</b>\n\n${ signal['Direction'] == \"LONG\" ? \"🟢\" : \"🔴\"} <b>${signal['Direction']}</b>\n\n✦ Entry Price:  <b>${signal['EntryPrice'].toFixed(4)}</b>\n✦ Recommended Leverage:  <b>${signal['Leverage']}x</b>\n✦ Action: <b>Opened Position</b>\n✦ Direction: <b>${ signal['Direction'] }</b>\n\n<i>Disclaimer: Not Financial Advice, Do Your Own Research</i>`\n\n}\n  \nreturn {\n  insertQuery: insertQuery,\n  telegramPushMessage: telegramPushMessage\n};"
      },
      "id": "57b9fa88-8307-4cff-9172-0cee421343e3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        560
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"evn\"].json[\"telegramGroupId\"]}}",
        "text": "={{ $node[\"Code\"].json[\"telegramPushMessage\"] }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Trade on Binance Now",
                    "additionalFields": {
                      "url": "https://accounts.binance.com/register?ref=66065403"
                    }
                  },
                  {
                    "text": "View More",
                    "additionalFields": {
                      "url": "https://maix8.com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b47476f7-8b9b-4407-a431-559e93aa324c",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1880,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "wgY9dLz5D0eEhJic",
          "name": "Telegram @MaixCryptoTradingbot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "adc594d8-5f31-48c0-abeb-f7d7e9ee1e34",
              "leftValue": "={{$node[\"Code\"].json[\"insertQuery\"]}}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0ba3122-6743-4a6a-ae89-7fe587006d20",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "var setting = {\n  telegramGroupId: -4218939970, // MAIX - Luxury Signals (a Vinh)\n  telegramGroupId2: -4140593122 // MAIX - Luxury Signals (a Sơn, a Lâm)\n}\n\nreturn setting;"
      },
      "id": "ec896b28-c026-4a1b-9ea9-9d816da06a10",
      "name": "evn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f0b5cd20-55bf-4d6f-a315-7662dabe9c98",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"QUERY: Get Open ing Signals & Position\"].json[\"query\"] }}"
      },
      "id": "2ca3770e-f60e-4263-8d12-26411329d570",
      "name": "MSSQL: Get Open ing Signals & Position",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        820,
        560
      ],
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "JmVTGGXrVvhOpoEZ",
          "name": "Microsoft SQL - 62.72.45.242 - yoongdev - Y_MaixSignal"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node[\"Code\"].json[\"insertQuery\"] }}"
      },
      "id": "eef83b91-7b2a-44b5-800b-d625dc9948d2",
      "name": "MSSQL: Insert Position",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1700,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "JmVTGGXrVvhOpoEZ",
          "name": "Microsoft SQL - 62.72.45.242 - yoongdev - Y_MaixSignal"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"evn\"].json[\"telegramGroupId2\"]}}",
        "text": "={{ $node[\"Code\"].json[\"telegramPushMessage\"] }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Trade on Binance Now",
                    "additionalFields": {
                      "url": "https://accounts.binance.com/register?ref=66065403"
                    }
                  },
                  {
                    "text": "View More",
                    "additionalFields": {
                      "url": "https://maix8.com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "3478cb88-3e18-499f-8384-ae71ee0108c6",
      "name": "Send Telegram Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2060,
        400
      ],
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "wgY9dLz5D0eEhJic",
          "name": "Telegram @MaixCryptoTradingbot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var trade = $node[\"Webhook\"].json[\"body\"][\"trade\"];\n\nvar getOpenPositionQuery = \n`\nDECLARE @WindowTime INT;\nDECLARE @MinScore FLOAT;\n\nSELECT @WindowTime = WindowTime,\n       @MinScore = MinScore\nFROM TradeSignalSetting\nWHERE Id = 3; -- Luxury\n\nWITH FilteredSignals AS\n  (SELECT TOP 100 [Id],\n          [TraderName],\n          [Direction],\n          [TradingPair],\n          [Leverage],\n          [EntryPrice],\n          [ClosingPrice],\n          [PositionSize],\n          [AverageCost],\n          [PNL],\n          [PNLPercentage],\n          [OpenedDate],\n          [ClosedDate],\n          [CreatedDate],\n          [TradeDurationInSecond],\n          [PositionMode],\n          [Status],\n          [TraderScore],\n          'Signal' AS SIGNAL,\n          ROW_NUMBER() OVER (PARTITION BY TraderName,\n                                          TradingPair,\n                                          Direction\n                             ORDER BY OpenedDate DESC) AS RowNum\n   FROM [dbo].[FutureSignal]\n   WHERE OpenedDate >= DATEADD(MINUTE, -(@WindowTime), GETUTCDATE())\n     AND Direction = '${trade[\"actionDirection\"]}'\n     AND TradingPair = '${trade[\"tradingPair\"]}'\n     AND Status = 0\n   ORDER BY OpenedDate DESC),\n\n\nDistinctSignals AS\n  (SELECT TOP 100 *\n   FROM FilteredSignals\n   WHERE RowNum = 1\n   ORDER BY OpenedDate DESC)\n\n   \nSELECT TOP 1 *\nFROM DistinctSignals\nWHERE\n    (SELECT SUM(TraderScore)\n     FROM DistinctSignals) >= @MinScore\nORDER BY TraderScore DESC;\n\n\nSELECT *,\n       'Position' AS POSITION\nFROM TradeSignalLuxury\nWHERE TradingPair = '${trade[\"tradingPair\"]}'\n  AND Status = 0\n`\n\nreturn {\n  query: getOpenPositionQuery\n}\n"
      },
      "id": "5390f9be-6a2b-45ce-91e5-85716b228877",
      "name": "QUERY: Get Open ing Signals & Position",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        560
      ]
    },
    {
      "parameters": {
        "chatId": "-4197813745",
        "text": "={{$node[\"Aggregate\"].json[\"data\"]}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3cfbf3cc-b77a-469e-9d04-c50901a2e4e9",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1380,
        880
      ],
      "credentials": {
        "telegramApi": {
          "id": "wpMgkt8EZ5TveO30",
          "name": "Telegram - @blackblock_trade_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DECLARE @WindowTime INT;\nDECLARE @MinScore FLOAT;\n\nSELECT @WindowTime = WindowTime * 100,\n       @MinScore = MinScore\nFROM TradeSignalSetting\nWHERE Id = 3; -- Luxury\n\nWITH FilteredSignals AS\n  (SELECT TOP 100 [Id],\n          [TraderName],\n          [Direction],\n          [TradingPair],\n          [Leverage],\n          [EntryPrice],\n          [ClosingPrice],\n          [PositionSize],\n          [AverageCost],\n          [PNL],\n          [PNLPercentage],\n          [OpenedDate],\n          [ClosedDate],\n          [CreatedDate],\n          [TradeDurationInSecond],\n          [PositionMode],\n          [Status],\n          [TraderScore],\n          'Signal' AS SIGNAL,\n          ROW_NUMBER() OVER (PARTITION BY TraderName,\n                                          TradingPair,\n                                          Direction\n                             ORDER BY OpenedDate DESC) AS RowNum\n   FROM [dbo].[FutureSignal]\n   WHERE OpenedDate >= DATEADD(MINUTE, -(@WindowTime), GETUTCDATE())\n     AND Direction = 'LONG'\n     AND TradingPair = 'ETHUSDT'\n     AND Status = 0\n   ORDER BY OpenedDate DESC),\n\n\nDistinctSignals AS\n  (SELECT TOP 100 *\n   FROM FilteredSignals\n   WHERE RowNum = 1\n   ORDER BY OpenedDate DESC)\n\n   \nSELECT *\nFROM DistinctSignals\nWHERE\n    (SELECT SUM(TraderScore)\n     FROM DistinctSignals) >= @MinScore\nORDER BY TraderScore DESC;\n\n\nSELECT *,\n       'Position' AS POSITION\nFROM TradeSignalLuxury\nWHERE TradingPair = 'ETHUSDT'\n  AND Status = 0"
      },
      "id": "b6daf03c-8258-40c9-8161-53b02a5c03e6",
      "name": "MSSQL: Get Open ing Signals & Position1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        860,
        200
      ],
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "JmVTGGXrVvhOpoEZ",
          "name": "Microsoft SQL - 62.72.45.242 - yoongdev - Y_MaixSignal"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "61158dd1-e035-429a-8263-51d2ad87ea4c",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "var signal_postion = $node[\"Aggregate1\"].json[\"data\"];\nvar signal;\nvar position;\nvar insertQuery;\nvar telegramPushMessage;\n\n\n// Vì kết quả SQL trả về 2 bảng chung 1 lần, nên cần tách ra\nif(signal_postion)\n{\n\n  return {\n    signals: $jmespath(signal_postion, \"[?SIGNAL == `Signal`]\")\n  }\n  \n   if(signal_postion.length == 2)\n   {\n     signal = signal_postion[0];\n     position = signal_postion[1];\n   }else if(signal_postion.length == 1)\n   {\n     if(signal_postion[0].SIGNAL)\n       signal = signal_postion[0];\n     else if (signal_postion[0].POSITION)\n       position = signal_postion[0];\n   }\n}\n\nif(position == null && signal) // Không tồn lại Position đang Open và có Signal\n{\ninsertQuery = \n`\nINSERT INTO [dbo].[TradeSignalLuxury] ( \n  [Direction], \n  [TradingPair], \n  [Leverage],\n  [EntryPrice], \n  [OpenedDate],\n  [Status],\n  [TradeSignalJson]\n)\nVALUES (\n  N'${signal['Direction']}', \n  N'${signal['TradingPair']}',\n   ${signal['Leverage']}, \n   ${signal['EntryPrice']},  \n   GETUTCDATE(),\n   0,\n   N'${signal[\"TraderName\"]}'\n)`\n  \n  // 2. Alert to Telegram\ntelegramPushMessage = \n`\n<b>#${signal['TradingPair']}</b>\n\n${ signal['Direction'] == \"LONG\" ? \"🟢\" : \"🔴\"} <b>${signal['Direction']}</b>\n\n✦ Entry Price:  <b>${signal['EntryPrice'].toFixed(4)}</b>\n✦ Recommended Leverage:  <b>${signal['Leverage']}x</b>\n✦ Action: <b>Opened Position</b>\n✦ Direction: <b>${ signal['Direction'] }</b>\n\n<i>Disclaimer: Not Financial Advice, Do Your Own Research</i>`\n\n}\n  \nreturn {\n  insertQuery: insertQuery,\n  telegramPushMessage: telegramPushMessage\n};"
      },
      "id": "7af75e88-3e9a-4f06-93a5-7d51b8189084",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        200
      ]
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evn": {
      "main": [
        [
          {
            "node": "QUERY: Get Open ing Signals & Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSSQL: Get Open ing Signals & Position": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MSSQL: Insert Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSSQL: Insert Position": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QUERY: Get Open ing Signals & Position": {
      "main": [
        [
          {
            "node": "MSSQL: Get Open ing Signals & Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSSQL: Get Open ing Signals & Position1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "tVa1fbkE9BESGesN"
  },
  "staticData": {
    "node:Time Trigger": {
      "recurrencyRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "710f4e71-b38a-4cb6-919d-f807c1393e51",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-05-05T09:43:44.613Z",
      "createdAt": "2024-05-05T09:43:44.613Z",
      "role": "workflow:owner",
      "workflowId": "iPqolVIcmFLJRHqb",
      "projectId": "0P6Dr8EAKcX0vQwh"
    }
  ],
  "activeVersion": null,
  "tags": []
}