n8n-yoong-rp-create-full-note-.json
{
  "updatedAt": "2024-07-25T04:29:13.089Z",
  "createdAt": "2024-02-22T08:07:57.830Z",
  "id": "JtBlfnatZVxzGRey",
  "name": "Yoong RP - Create Full Note",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a6d38e3d-fe14-4f6a-ba16-877c6a09cb9a",
        "options": {
          "rawBody": true
        }
      },
      "id": "65223baf-c3c3-4cae-8517-864ba272d04c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        880,
        420
      ],
      "webhookId": "a6d38e3d-fe14-4f6a-ba16-877c6a09cb9a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/docx/v1/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Lark Access Token').item.json[\"app_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={    \"folder_token\": \"LEPZf4K7pl9aGvdrrvClxoYggZd\",    \"title\": \"{{ $(\"Webhook\").item.json.body[\"candidateName\"] }} [{{ $(\"Webhook\").item.json.body[\"candidateEmail\"] }}]\"}",
        "options": {}
      },
      "id": "19c5bdea-7ce8-48a2-8572-92bf1cbc17e6",
      "name": "Create File Full Notes (doc)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.larksuite.com/open-apis/auth/v3/app_access_token/internal",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"app_id\" : \"cli_a414df8dad78d010\",\"app_secret\" : \"2ntkpnCM2b8VrXatxOUc8c2RxrCR8k6v\" }",
        "options": {}
      },
      "id": "69d18317-514c-4737-ba39-2e941101920e",
      "name": "Lark Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        420
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://open.larksuite.com/open-apis/bitable/v1/apps/YyEzbiPzjatLOws2ZDYlklUDgyh/tables/tblOldMWe5futt2F/records",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=CurrentValue.[Candidate Id]=\"{{ $(\"Webhook\").item.json.body[\"candidateId\"] }}\""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Lark Access Token').item.json[\"app_access_token\"] }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "id": "eeb056f0-9186-4d1e-8ec7-02fb0dd64bda",
      "name": "Get Candidate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1580,
        420
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://open.larksuite.com/open-apis/bitable/v1/apps/YyEzbiPzjatLOws2ZDYlklUDgyh/tables/tblOldMWe5futt2F/records/{{$('Get Candidate').item.json[\"data\"][\"items\"][0][\"record_id\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Lark Access Token').item.json[\"app_access_token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "9ee60dfa-bf0f-467c-b290-a905c7ba4d81",
      "name": "Update Candidate Full Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var candidate = {\n  \"fields\": {\n    \"Full Notes\": {\n      \"text\": $(\"Create File Full Notes (doc)\").item.json[\"data\"][\"document\"][\"title\"],\n      \"link\": \"https://yoongsolutions.sg.larksuite.com/docx/\" + $(\"Create File Full Notes (doc)\").item.json[\"data\"][\"document\"][\"document_id\"]\n    }\n  }\n};\n\nreturn candidate;\n\n"
      },
      "id": "90cf59c3-c5d3-4396-a3b4-46b5a7acdd29",
      "name": "Create Candidate Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ]
    }
  ],
  "connections": {
    "Lark Access Token": {
      "main": [
        [
          {
            "node": "Create File Full Notes (doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Lark Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File Full Notes (doc)": {
      "main": [
        [
          {
            "node": "Get Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate": {
      "main": [
        [
          {
            "node": "Create Candidate Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Candidate Json": {
      "main": [
        [
          {
            "node": "Update Candidate Full Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "w4dvHDDKdGVZOe0T"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2960b4b-9470-42c6-a352-bec615cd4477",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-02-22T08:07:57.830Z",
      "createdAt": "2024-02-22T08:07:57.830Z",
      "role": "workflow:owner",
      "workflowId": "JtBlfnatZVxzGRey",
      "projectId": "hDIKqbgmMJE1kKCr"
    }
  ],
  "activeVersion": null,
  "tags": []
}